<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalLibs" value="libs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalLibs">
      <package pattern="NI.Discovery.V1*" />
      <package pattern="NationalInstruments.Service.Extensions" />
      <package pattern="NationalInstruments.Api*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>