html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #363738;
    font-family: var(--ni-nimble-body-emphasized-font-family);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.spinner-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--ni-nimble-title-font-color);
    font: var(--ni-nimble-body-font);
    text-align: center;
}