.sequence-pane-container {
    width: min(20%, 280px);
    margin-left: 0.1rem;
    display: flex;
    flex-direction: column;
}

.sequence-pane-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--ni-nimble-control-height);
}

.sequences-container {
    height: 0px;
    overflow-y: auto;
    flex: 1 1 auto;
}

::deep nimble-toolbar::part(positioning-region) {
    background: var(--ni-nimble-header-background-color);
    padding-left: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
}

nimble-tree-item::part(content-region) {
    margin-inline-start: 0px !important;
    padding: 0px 5px 0px 0px !important;
}

/*Styling scrollbars*/
@supports (scrollbar-width: auto) {
    .sequences-container {
        scrollbar-width: thin;
        scrollbar-color: var(--ni-nimble-link-active-disabled-font-color) var(--ni-nimble-application-background-color);
    }
}

@supports selector(::-webkit-scrollbar) {
    .sequences-container::-webkit-scrollbar-thumb {
        background-color: var(--ni-nimble-calendar-event-fill-blocked-color);
        border-radius: 3px;
    }

    .sequences-container::-webkit-scrollbar {
        width: 7px;
        border-radius: 3px;
    }
}